@import "../../../color-variables.scss";

.more-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;  
}

.benefit {
    color: $primary-text !important;
    display: flex;
    flex-direction: column;
    max-width: 500px;  

    h3 {
        font-size: 30px;
        margin: 20px 0 10px;
    }

    p {
        font-size: 17px;
        text-align: start;
        padding: 0 20px;  
    }
}

@media (max-width: 1080px) {
    .more-benefits {
        align-items: center;
        justify-content: center !important;
        flex-direction: column;
        gap: 20px;  
    }

    .benefit {
        justify-content: center;
        align-items: center;
        text-align: justify;
        max-width: 90%;  
    }

    .benefit h3 {
        font-size: 23px;
    }

    .benefit p {
        font-size: 15px !important;
        padding: 0 20px;  
    }
}